* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* HEADER */
header {
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

header img.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  position: relative;
  top: 50%;
}

nav ul.links {
  display: none;
}

ul.links>li {
  list-style-type: none;
}

/* DASHBOARD */
div.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.breedSummary {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.graphicsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

.imageContainer img {
  text-align: start;
}

ul.scrollingText {
  display: flex;
  gap: 5px;
  list-style-type: none;
}

ul.scrollingText li {
  font-size: 25px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.scrollingTextContainer {
  overflow: hidden;
}

.infoContainer {
  width: 100%;
  display: flex;
}

.infoContainer table {
  text-align: left;
  max-width: 100%;
  width: 100%;
}

.statsContainer {
  width: 100%;
}

.progressContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

progress {
  width: 100%;
}

@media (min-width: 600px) {

  body {
    margin: 0 10%;
  }

  /* HEADER */
  nav ul.links {
    display: flex;
    gap: 5px;
  }

  .hamburger {
    display: none;
  }

  /* DASHBOARD */
  div.dashboard {
    flex-direction: row;
    gap: 5%;
    height: auto;
  }

  .breedSummary {
    max-width: 60%;
  }

  .infoContainer {
    display: flex;
    flex-direction: row;
  }

  .infoContainer table {
    max-width: 50%;
  }

}